---
// Import necessary components
import type { CollectionEntry } from "astro:content";

const { blogEntry } = Astro.props;

interface Props {
  blogEntry: CollectionEntry<"blog">;
}
---

<div class="flex-shrink-0">
  <img
    class="size-10 rounded-full sm:h-14 sm:w-14"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Unknown_person.jpg/434px-Unknown_person.jpg"
    alt={blogEntry.data.authorImageAlt}
    draggable={"false"}
  />
</div>
